<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ube.salinlahifour"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".SalinlahiFour"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_select_user"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".RegistrationActivityName"
            android:label="@string/title_activity_select_user"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".RegistrationActivityGender"
            android:label="@string/title_activity_select_user"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".RegistrationActivityConfirm"
            android:label="@string/title_activity_select_user"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".lessonActivities.GameOver"
            android:label="@string/title_gameover"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".lessonActivities.AbstractLessonActivity"
            android:label="@string/title_activity_lesson"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".tutorials.Tutorial"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".lessonActivities.Cooking"
            android:label="@string/title_activity_lesson"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.Cooking" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lessonActivities.Society"
            android:label="@string/title_activity_lesson"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.Society" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lessonActivities.Family"
            android:label="@string/title_activity_lesson"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.Family" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lessonActivities.Greetings"
            android:label="@string/title_activity_lesson"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.Greetings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lessonActivities.House"
            android:label="@string/title_activity_lesson"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.House" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lessonActivities.Shape"
            android:label="@string/title_activity_lesson"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.Shape" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lessonActivities.Animals"
            android:label="@string/title_activity_lesson"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.Animals" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".debugclasses.DebugUserModuleActivity"
            android:label="@string/title_activity_debug_user_module"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name=".narrativeDialog.NarrativeDialog"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".debugclasses.DebugUserRecordActivity"
            android:label="@string/title_activity_debug_user_record" >
        </activity>
        <activity
            android:name=".debugclasses.DebugUserLessonProgressActivity"
            android:label="@string/title_activity_debug_user_lesson_progress" >
        </activity>
        <activity
            android:name=".ProgressTreeActivity"
            android:label="@string/title_activity_progress_tree"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".howtoplay.HowToPlay"
            android:label="@string/title_activity_progress_tree"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".lessonActivities.Fiesta"
            android:label="@string/title_activity_fiesta"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.Fiesta" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ube.salinlahifour.lessonActivities.Feelings"
            android:label="@string/title_activity_feelings" 
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.Feelings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.ube.salinlahifour.lessonActivities.Solarsystem"
            android:label="@string/title_activity_feelings" 
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.Solarsystem" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.ube.salinlahifour.lessonActivities.Construction"
            android:label="@string/title_activity_feelings" 
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.ube.salinlahifour.lessonActivities.Construction" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
